/* From https://github.com/gohugoio/hugo/blob/master/docs/themes/gohugoioTheme/src/css/_documentation-styles.css */

.note,
.warning {

  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: maroon;

  display: block;
}
.note #exclamation-icon,
.warning #exclamation-icon {

  fill: var(--primary-color);
  position: absolute;
  top: 35%;
  left: -12px;
}

  .admonition-content {
    display: block;
    margin: 0px;
    padding: .125em 1em;
    /*margin-left: 1em;*/
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    /*font-size: .9375em;*/
    background-color: rgba(0,0,0,.05);
  }

  .admonition-content p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .hide-child-menu .child-menu {
    display: none;
  }
  .hide-child-menu:hover  .child-menu,
  .hide-child-menu:focus  .child-menu,
  .hide-child-menu:active .child-menu {
  display: block;
  }
